html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.style-thumbnail {
  transition: opacity 0.2s;
}

.style-thumbnail:hover {
  opacity: 0.3;
}

.current {
  opacity: 0.3;
}
